/* styles.css */

:root{
    --background-color: #363431;
    --white: #FFFFFFFF;
    --transition: all 600ms ease;
    --sidebar-background: #19191a;

}

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: var(--background-color);
    color: var(--white);
}

.page-content{
    position: relative;
    background: #19191a;
    margin: 20px 20px 0 10%;
    border-radius: 1.1rem;
}
h1{
    padding-top:  20px;
    justify-content: center;
    display: flex;
}

/* Main Sidebar */
.sidebar {
    background-color: var(--sidebar-background);
    border-radius: 1.8rem;
    height: 96%;
    width:8%;
    left:10px;
    top: 2%;
    position: fixed;
}





#modules-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#modules-logo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
}

/* End Main Sidebar */


/* Module Logo */

.icons{
    width: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 0.5rem;

}

.icons-calc{
    background: purple;
    border: 3px solid purple;

}


.icons-calc:hover{
    background: #4f014f;
    border: 3px solid  #4f014f;
}
/* End Module Logo */
