









/* icons */
.icons-navigateur{
    background: #faf5e9;
    border: 3px solid #faf5e9;
}


.icons-navigateur:hover{
    background: #9f9992;
    border: 3px solid  #9f9992;
}
/* end icons */