<h1>VibeBox Ide</h1>

<!--<div class="app-ace-editor" #editor style="width: 500px;height: 250px;">-->

<!--</div>-->
<div class="editor">
  <div class="editor__wrapper">
    <div class="editor__body">
      <div id="editorCode" class="editor__code"></div>
    </div>
    <div class="editor__footer">
      <div class="editor__footer--left">
        <button class="editor__btn editor__run">Run ></button>
        <button class="editor__btn editor__reset">Reset ></button>
      </div>
      <div class="editor__footer--right">
        <div class="editor__console" id="console">
          <ul class="editor__console-logs"></ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="editor">
  <div class="editor__wrapper">
    <div class="editor__body">
      <div id="editorCodeHtml" class="editor__code"></div>
    </div>
    <div class="editor__footer">
      <div class="editor__footer--left">
        <button class="editor__btn editor__runHtml">Run ></button>
        <button class="editor__btn editor__resetHtml">Reset ></button>
      </div>
      <div class="editor__footer--right">
        <div class="editor__console" id="consoleHtml">
          <ul class="editor__console-logs"></ul>
        </div>
      </div>
    </div>
  </div>
</div>







<!--<div class="app-ace-editor" #editorCss style="width: 500px;height: 250px;">-->

<!--</div>-->
<!--<div class="app-ace-editor" #editorJs style="width: 500px;height: 250px;">-->

<!--</div>-->

<!--<button (click)="onRun()">Run</button>-->

