/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@syncfusion/ej2-material-theme/styles/material.css";

::-webkit-scrollbar{
  display: none;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  justify-content: center;
  display: flex;
}


button{
  border-radius: 25px;
  border: 1px solid;
  background: transparent;
  font-size: 20px;
  color: white;
  padding: 15px;
  transition: all 0.4s;

  &:hover{
    background: black;
    border-color: black;
    transition: all 0.4s;
  }
}


input, textarea{
  background: RGB(17, 25, 31);
  color: white;
  border: none;
}

